@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
  color: white;
} */

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 0 0% 9%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  :root {
    @apply h-full;
  }
  body {
    @apply bg-background text-foreground h-full text-white;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    color-scheme: dark;
  }
  .BoxScroll::-webkit-scrollbar {
    @apply lg:w-2; /* width of the entire scrollbar */
  }

  .BoxScroll::-webkit-scrollbar-track {
    @apply lg:bg-transparent; /* color of the tracking area */
  }

  .BoxScroll::-webkit-scrollbar-thumb {
    @apply lg:bg-neutral-700; /* color of the scroll thumb */
    @apply lg:rounded-lg; /* roundness of the scroll thumb */
    @apply lg:border-neutral-700; /* creates padding around scroll thumb */
    @apply lg:border-2; /* creates padding around scroll thumb */
    @apply lg:border-solid; /* creates padding around scroll thumb */
  }
}
